/*this is an example of how to highlight  everything on the page. The asterisk is important here. it is a universal selector 
*{

    color:pink;
    background-color: blue

} */
/* "*" is a universal selector that selects everything within a certain tag */

body {

    background-color: darkgray;
    
}

button {

    font-size: 30px;

} 
/* this changes all the buttons on the page to 30 pixels */

h1,h2 {

    color:teal;

}
/* this is mulitple selectors. You can have more than one tag with the same styling */

#signup {

    background-color: whitesmoke;
    color:palegreen;

}
/* #link is how you link ids to certain buttons you want to change the style of. This also works for other tags that have id in them  */

.tag{

    color:cyan;

}
/*.tag allows us to change everything that has the tag class and anything coming after it.  */
.post a{

    color:purple;

}
/* this gives us the ability to change the style of every "post" username that has an <a> tag */
/* # is for ID . is for class */
footer > a {

    color:green;

}
/* the ">" is a descendant selector. In this case, it allows us to focus only on the link at the bottom  */

input[type="password"]{

    color:fuchsia;

}
/* */

input[type="text"]{

    color:aquamarine;

}
/*  */

a[href*="Google"]{

    color:darkslateblue;

}
/*  */

button:hover {

    background-color:yellow;
    color:darkorchid

}
/* */

.post button:active{

    background-color:green;

}